<div class="flex justify-between">
  <div>
    <div class="mapDiv" #mapDiv></div>
  </div>
  <div>
    <div class="flex flex-col w-80">
      <h1 class="text-center text-2xl font-bold pt-3">Go To Postion</h1>
      <h2 class="text-xl pt-2 pb-2">Latitude</h2>
      <p-inputNumber
        class="justify-center"
        placeholder="Latitude"
        mode="decimal"
        [minFractionDigits]="5"
        [(ngModel)]="latitude"
      ></p-inputNumber>
      <h2 class="text-xl pt-1 pb-2">Latitude</h2>
      <p-inputNumber
        class="pb-4 justify-center"
        placeholder="Longtitude"
        mode="decimal"
        [minFractionDigits]="5"
        [(ngModel)]="longtitude"
      ></p-inputNumber>
      <button
        pButton
        type="button"
        label="Locate"
        (click)="onClickLocate(latitude, longtitude)"
      ></button>
    </div>
  </div>
</div>
