<p>Calculator</p>

<div>
  <div class="display text-xl">
    <input [(ngModel)]="showDisplay" />
  </div>
  <div class="button-container">
    <div class="button" style="display: hidden"></div>
    <div class="button" style="display: hidden"></div>
    <div class="button" style="display: hidden"></div>
    <div class="button" (click)="pressOperand('c')">C</div>

    <div class="button" (click)="pressNumber(7)">7</div>
    <div class="button" (click)="pressNumber(8)">8</div>
    <div class="button" (click)="pressNumber(9)">9</div>
    <div class="button" (click)="pressOperand('/')">/</div>
    <div class="button" (click)="pressNumber(4)">4</div>
    <div class="button" (click)="pressNumber(5)">5</div>
    <div class="button" (click)="pressNumber(6)">6</div>
    <div class="button" (click)="pressOperand('X')">X</div>
    <div class="button" (click)="pressNumber(1)">1</div>
    <div class="button" (click)="pressNumber(2)">2</div>
    <div class="button" (click)="pressNumber(3)">3</div>
    <div class="button" (click)="pressOperand('-')">-</div>
    <div class="button" (click)="pressNumber(0)">0</div>
    <div class="button">.</div>
    <div class="button" (click)="pressOperand('=')">=</div>
    <div class="button" (click)="pressOperand('+')">+</div>
  </div>
</div>
